[submodule ".registry"]
	path = .registry
	url = https://github.com/biologyautomation/biologyautomation.r-universe.dev
	branch = HEAD
[submodule "ExperimentalDesignGeneratorandRandomiser"]
	path = ExperimentalDesignGeneratorandRandomiser
	url = https://github.com/biologyautomation/edgar-r
